params {
    fastq_files = "$baseDir/data/reads/*.fastq"
    reference_dir = "$baseDir/data/reference"
    out_dir = "results"
}

process {
    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
     
    withName: 'NANOFILT' {
        container = 'quay.io/biocontainers/nanofilt:2.7.1--py_0'
    }
    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.9--py_1'   
    }
    withName: 'MINIMAP2' {
        container = 'community.wave.seqera.io/library/minimap2:2.28--78db3d0b6e5cb797'
    }
    withName: 'SAMTOOLS_BCFTOOLS' {
        container = 'community.wave.seqera.io/library/bcftools_samtools:5b2576eb0d43ecd6'
    }
    withName: 'SAMTOOLS_INDEX' {
        container = 'community.wave.seqera.io/library/bcftools_samtools:5b2576eb0d43ecd6'
    }
    withName: 'REFERENCE_INDEX' {
        container = 'community.wave.seqera.io/library/bcftools_samtools:5b2576eb0d43ecd6'
    }
}

docker {
    fixOwnership = true
    enabled = true
    runOptions = '--platform linux/amd64'
}